{{define "main"}}

<style type="text/css">
  div, body {
    overflow: hidden !important;
    max-width: 100% !important;
  }
</style>

<div class="grid-container NoteColumnsScrollingContainer" style="overflow-x: hidden;">
  <div class="grid NoteColumnsContainer stacked-notes" style="overflow-x: hidden;">
    <div class="page NoteContainer" data-level="2" style="overflow-x: hidden;">

      <div class="PresentedNote jsx-1649199117">
        <div class="jsx-2479918432 NoteContainer">
          
          <div class="jsx-2479918432 PrimaryNote">
            <div class="content jsx-732926425">
              <h1 class="content-page-header-title">{{ .Title }}</h1>
              {{ .Content }}
            </div>
          </div>

          {{ partial "backlinks.html" . }}
        </div>
      </div>

      <div class="jsx-3179990917 ObscuredLabel jsx-1649199117" style="display: none;">{{ .Title }}</div>

    </div>
  </div>
</div>


{{ $urijs := resources.Get "js/URI.js" }}
<script src="{{$urijs.Permalink}}" type="text/javascript"></script>
{{end}}
