<title>{{ .Params.name }} ~wfm</title>

<!-- META TAGS -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ .Params.occupation }}" />
<meta name="author" content="{{ .Params.name }}" />

{{ $IndexCss := resources.Get "/css/wfm.scss" | resources.ToCSS (dict
  "outputStyle" "compressed") | fingerprint
}}
<link rel="stylesheet" href="{{ $IndexCss.RelPermalink }}" />

<style>
  .section-collapse-div-description {
    line-height: 0.3;
    padding-left: 60px !important;
  }

  .section-collapse-div-description > p {
    line-height: normal !important;
  }

  .description-paragraph-expanded {
    line-height: normal !important;
  }

  .section-collapse-category-title {
    font-weight: 400;
    text-decoration: wavy;
    text-decoration-line: underline;
    text-decoration-color: darkslateblue;
    text-decoration-style: wavy;
    text-decoration-thickness: 1.2pt;
    user-select: none;
    color: #201d1d;
  }

  .section-collapse-category-items {
    padding-top: 15px !important; /** padd top */
    padding-bottom: 15px !important;
    line-height: normal;
    font-size: 13px;
    letter-spacing: 0.001em;
    /* text-align: center; */
    text-align: right;
    color: #767676;
    transition: color 0.1s ease-in;
  }

  .section-collapse-category-items:hover {
    color: black;
  }

  .tool-name-tooltip {
    font-size: 9px;
    vertical-align: middle;
    text-align: right !important;
    margin-right: 0 !important;
    /* margin-left: 310px; */ /* this will put tooltip text to the most right */
    margin-left: 20px;
    padding-right: 0 !important;
    color: darkslategray;
    font-style: italic;
  }

  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: rgb(255, 255, 255) !important;
    text-align: left;
    height: 1.5em;
    opacity: 0.5;
    &:before {
      content: "";
      /* use the linear-gradient for the fading effect
         use a solid background color for a solid bar */
      background: linear-gradient(to right, #5b5a56, #818078, transparent);
      position: absolute;
      left: 0;
      top: 40%;
      width: 100%;
      height: 1px;
      /* my additions */
      font-weight: 400;
      user-select: none;
      color: #ffffff !important;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
      text-transform: uppercase;
      font-size: 12px;
      padding: 0 0.3em;
      padding-left: 10px !important;
      padding-right: 10px !important;
      line-height: 1.5em;
      /* this is really the only tricky part, you need to specify the background color of the container element... */
      /* color: #818078; */
      color: #ffffff !important;
      background-color: #000; /* #fcfcfa */
      /* my additions */
      font-weight: 400;
      user-select: none;
    }
  }
</style>
