<header class="header">
    <nav class="navigation">
        <a href="/works-for-me" class="logo inline">Works for me</a>
        <a href="/works-for-me" class="logo">Works<br/>for<br/>me<sup><span style="font-size: 7px; font-weight: 100; color: gray"> *selfhosted ~wfm</span></sup></a>
        <a href="https://duraki.github.io/" class="navigation-item">halis duraki</a>
        <a href="https://duraki.github.io/reports.html" class="navigation-item">security rep+</a>
        <a href="https://durakiconsulting.com" class="navigation-item">consulting</a>
        <a href="https://duraki.github.io/" class="navigation-item">blog</a>
        <a href="/" class="navigation-item highlight">back to ~notes</a>
      </nav>
</header>