<article class="environment">
  <section class="environment-header">

    {{ if .collapsible }}

        {{/*  
        <!-- !!! -->
        <!-- Collapsible section with <details> and <summary> -->
        <!-- !!! -->  
        */}}
        <section class="tools-list">
          <div class="tool-item">
            <div class="tool-head">
              <div class="tool-name-list">
                <details style="user-select: none; cursor: pointer;">
                  <summary style="padding-bottom: 10px;">
                    {{ if .list_title }}
                    <h2 class="environment-title">{{ .list_title }}</h2>
                    {{ else }}
                    <span class="tool-name">{{ .name }}</span>
                    <small class="tool-name-tooltip">〄 click to expand full software library</small>
                    {{ end }}
                  </summary>

                  {{ if .description }}
                    <div class="description">
                      <div class="section-collapse-div-description">
                      {{ range .description }} 
                        {{- $parts := split . ":" -}}
                        <p class="description-paragraph">

                          <!-- dynamically generating HTML from yaml string definition -->                        
                          <hr class="hr-text" data-content="{{- index $parts 0}}" /> <!-- Software Category -->
                          <div class='section-collapse-category-items'>
                            {{- if gt (len $parts) 1 }}
                              {{- index $parts 1 | markdownify | safeHTML }} <!-- Software Items -->
                            {{ end }}
                          </div>
                        
                        </p>

                      {{ end }}
                      
                      {{ if .image }}
                        <figure class="image">
                          <img
                            class="image__picture"
                            src="{{ .image }}"
                            alt="{{ .imageAlt }}"
                          />
                        </figure>
                      {{ end }}
                    </div> {{/* end of div: section-collapse-div-description */}}
                  {{ end }} {{/* end of "if .description" */}}
                </details>
              </div> {{/* end of div: tool-name-list */}}
            </div> {{/* end of div: tool-head */}}
          </div> {{/* end of div: tool-item */}}
        </section> {{/* end of section: tool-list */}}


    {{ else }}

      {{/*
      <!-- !!! -->
      <!-- Non-collapsible section without <details> and <summary> -->
      <!-- !!! -->
      */}}
      {{ if .list_title }}
        <h2 class="environment-title">{{ .list_title }}</h2>
      {{ else }}
        {{ $tool_title := .name }}
      {{ end }} {{/* end of "if .list_title" */}}


      <section class="tools-list">
        {{ if .name }}
          {{ if .list_title }}
          {{ else }}
            <div class="tool-item">
              <div class="tool-head">
                <div class="tool-name-list">
                  {{ if .link }}
                    <a class="tool-name" href="{{ .link }}">{{ .name }}</a>
                  {{ else }}
                    <span class="tool-name">{{ .name }}</span>
                  {{ end }}
                </div> {{/* end of div: tool-name-list */}}
              </div> {{/* end of div: tool-head */}}
            </div> {{/* end of div: tool-item */}}
          {{ end }} {{/* end of "if .list_title */}}
        {{ end }} {{/* end of "if .name" */}}
      </section> {{/* end of section: tool-list */}}

      {{ if .description }}
        <div class="description">
          {{ range .description }}
            <p class="description-paragraph">{{ . | markdownify }}</p>
          {{ end }}
          {{ if .image }}
            <figure class="image">
              <img
                class="image__picture"
                src="{{ .image }}"
                alt="{{ .imageAlt }}"
              />
            </figure>
          {{ end }}
        </div> {{/* end of div: description */}}
      {{ end }} {{/* end of "if .description" */}}

    {{ end }} {{/* end of "if .collapsible" */}}


  </section> {{/* end of div: environment-header */}}
</article> {{/* end of article: environment */}}
