{{ $re := printf `(?i)\n?.*\[%s\].*\n?` .Title }}
{{ $backlinks := slice }}


{{ $currentBaseFileName := $.File.BaseFileName }}
{{ range .Site.AllPages }}
   {{ if and (findRE $re .RawContent)
      (not (eq $currentBaseFileName .File.BaseFileName)) }}                     {{/* skips matching current file (self) */}}

      {{ $backlinks = $backlinks | append . }}                                  {{/* append a $backlinks slice with Page() object */}}
   {{ end }}
{{ end }}

{{ if gt (len $backlinks) 0 }}                                                  {{/* if sizeof $backlinks != 0 */}}
  <div class="bl-section">
    <h4>Links to this note</h4>
    <div class="backlinks" 
      onmouseenter="window.pauseNoteStacking = true;"
      onmouseleave="window.pauseNoteStacking = false;">
      {{ range $backlinks }}                                                    {{/* go through each $backlinks slice */}}
        <a href="{{ .RelPermalink }}" class="backlink-anchor">
          <div class="backlink">
            <p class="backlink-title">{{ .Title }}</p>
            <p class="backlink-preview">{{ index ( findRE $re .RawContent ) 0 | plainify | markdownify | plainify | plainify }}</p>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
{{ end }}
