<style type="text/css">
    .menu-item-position > a {
        padding-right: 10px;
        padding-left: 10px;
    }
</style>
<header>
    <a href="/" id="logo-and-title">
    {{ $logoUrl := index .Site.Params "logoUrl" }}
    <div class="site-logo">
      {{ if $logoUrl }} <img class="site-logo" src="{{ $logoUrl }}" />{{ end }}
    </div>
        </a>

        <div id="head">
            <h1 class="menu-item menu-item-position"><a style="padding-left: 0px;" class="author" href="https://duraki.github.io/">halis duraki</a></h1> /
            <h1 class="menu-item menu-item-position"><a class="author" href="https://duraki.github.io/reports.html">security rep+</a></h1> / 
            <h1 class="menu-item menu-item-position"><a class="author" href="https://durakiconsulting.com/">consulting</a></h1> / 
            <h1 class="menu-item menu-item-position"><a class="author" href="https://duraki.github.io/">blog</a> </h1> /
            <h1 class="menu-item menu-item-position"><a class="author" href="/">~ notes</a></h1> <br /> 
        </div>
        {{- partial "search-form.html" . -}}

        <div style="display: flex; text-align: right; margin-left: 10px;"><a style="text-decoration: none !important;" href="https://twitter.com/0xduraki"><code style="color: #93939369;"> - 0xduraki</code></a></p>
</header>
