<style type="text/css">
    .menu-item-position>a {
        padding-right: 10px;
        padding-left: 10px;
    }

</style>

<header>
    <a href="/" id="logo-and-title">
        {{ $logoUrl := index .Site.Params "logoUrl" }}
        <div class="site-logo">
            {{ if $logoUrl }} <img class="site-logo" src="{{ $logoUrl }}" />{{ end }}
        </div>
    </a>

    <div id="head">
        <h1 class="menu-item menu-item-position"><a style="padding-left: 0px;" class="author"
                href="https://duraki.github.io/">halis duraki</a></h1> /
        <h1 class="menu-item menu-item-position"><a class="author" href="https://duraki.github.io/reports.html">security
                rep+</a></h1> /
        <h1 class="menu-item menu-item-position"><a target="_blank" class="author" href="https://durakiconsulting.com/" style="color: #000000 !important;">consulting</a>
        </h1> /
        <h1 class="menu-item menu-item-position"><a class="author" href="https://duraki.github.io/">blog</a> </h1> /
        {{ if not (or (in (.Site.BaseURL | string) "127.0.0.1") (in (.Site.BaseURL | string) "localhost")) }}
        <!-- This template code only runs when the website
            does *not* run on localhost (meaning, runs in the
            production environment). -->
        <h1 class="menu-item menu-item-position"><a class="author" href="/notes">~ notes</a></h1> <br />
        {{ else }}
        <h1 class="menu-item menu-item-position"><a class="author" href="/">~ notes</a></h1> <br />
        {{ end }}
    </div>
    {{- partial "search-form.html" . -}}

    <div style="display: flex; text-align: right; margin-left: 10px;"><a style="text-decoration: none !important;"
            href="https://linkedin.com/in/duraki"><code style="color: #ff0000"> - 0xduraki</code></a></p>  <!-- #93939369; -->
</header>
